<!DOCTYPE html>
<html lang="en">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<div class="friend-item">
    <div class="common-columns">
        <a class="common-column">
            <div class="friend-info common-columns">
                <div class="friend-face common-column">
                    <img class="friend-face-img">
                </div>
                <div class="friend-intro-name common-column">
                    <div class="friend-name"></div>
                    <div class="friend-intro"></div>
                </div>
            </div>
        </a>
        <a class= "custom-btn plane-colored-btn friend-btn delete-friend">
            删除
        </a>
    </div>
</div>
</html>