<!DOCTYPE html>
<html lang="zh-CN">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<div class="activity-list-item common-columns">
    <a>
        <div class="activity-list-item-content">
            <h2></h2>
            <p></p>
            <div class="activity-info">
                <div><div>活动时间：</div><div class="info-content"></div></div>
                <div><div>活动地点：</div><div class="info-content"></div></div>
                <div><div>参与人数：</div><div class="info-content"><b></b></div></div>
                <div><div>权限要求：</div><div class="info-content"></div></div>&nbsp;
            </div>
        </div>
    </a>
    <a class="custom-btn plane-colored-btn btn-right delete-act">删除活动</a>
</div>
</html>